@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.button {
    background-color: #FF8B37;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 12px;
    padding: 20px 22%;
    margin: 0;
}

.button:hover {
    background-color: #FFAC70;
}

@media screen and (max-width: 500px){
    .button {
        padding: 16px 25%;
        font-size: 14px;
    }
}