@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.testBlock {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #CCF3FF, #FBCCFF, #FFFACC);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
}

.moneyWrapper {
    display: flex;
    justify-content: center;
}

.question {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    width: 736px;
    word-break: break-word;
    margin-bottom: 56px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 34px;
}

.answerBlock {
    max-width: 736px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 170px;
}

.answer {
    width: 350px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin-bottom: 32px;
    cursor: pointer;
}

.answer:hover {
    border: 1px solid rgba(0, 0, 0, .55);
    background-color: rgba(255, 255, 255, .3);
}

.answerUnCorrect {
    width: 350px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid rgba(211, 47, 47, .55);
    border-radius: 10px;
    margin-bottom: 32px;
    background-color: rgba(211, 47, 47, .35);
    cursor: pointer;
}

.answerCorrect {
    width: 350px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border: 1px solid rgba(0, 230, 118, .55);
    border-radius: 10px;
    margin-bottom: 32px;
    background-color: rgba(0, 230, 118, .35);
    cursor: pointer;
}

.footerWrapper {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
}