@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.money {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 15px;
    margin-top: 80px;
    margin-bottom: 48px;
    opacity: .3;
}

.moneyCurrent {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    padding-left: 16px;
    padding-right: 16px;
    line-height: 15px;
    margin-top: 80px;
    margin-bottom: 48px;
}