@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.head {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    padding-top: 48px;
    text-align: center;
    margin: 0;
}